- title(ElectoralDistrict.model_name.human)

%h1.page-header= ElectoralDistrict.model_name.human

.filter
  = form_tag electoral_districts_path, :method => :get do
    = hidden_field_tag :page, @page
    %h3 Поиск
    = ElectoralDistrict.human_attribute_name(:number)
    = text_field_tag "name", params[:number], :size => 10
    = select_tag "elections_level",  options_for_select(ElectoralDistrict.elections_level_for_select()) 
    = submit_tag "Найти", :name => :search, :class => "btn btn-default btn-sm"

%table
  %tr
    %th= ElectoralDistrict.human_attribute_name(:id)
    %th= ElectoralDistrict.human_attribute_name(:number)
    %th= ElectoralDistrict.human_attribute_name(:name)
    %th= ElectoralDistrict.human_attribute_name(:note)
    %th{:colspan=>"4"}

  - @electoral_districts.each do |electoral_district|
    %tr
      %td= electoral_district.id
      %td= electoral_district.number
      %td= electoral_district.name
      %td= electoral_district.note
      %td= link_to 'Просмотр', electoral_district_path(electoral_district)
      %td= link_to 'Изменить', edit_electoral_district_path(electoral_district)
      %td= link_to 'Удалить', electoral_district, :confirm => 'Вы уверены?', :method => :delete

= will_paginate @electoral_districts

= link_to 'Добавить', new_electoral_district_path

