- javascript_include_yandex_map_api

= semantic_form_for @rcommittee do |f|
  = f.inputs do
    = f.input :first_secretary
    = f.input :note, :as => :text

    = f.semantic_fields_for :addresses do |a|
      = a.inputs :name => "Адрес" do
        = a.input :post_code
        = a.input :region_id, :as => :select, :collection => Region.all
        = a.input :district_id, :as => :select, :collection => District.all
        = a.input :city_id, :as => :select, :collection => City.all
        = a.input :address_line
        = a.input :lat, :as => :hidden
        = a.input :lng, :as => :hidden
        %input{:type => "button", :value => "Найти адрес на карте", :id => "find_address", |
          :data => {"form-name" => "region_committee"} } |

      #map_container
        #map

    

  = f.buttons do
    = f.commit_button "Сохранить"
    %li{:class=>"link"}
      или
      = link_to 'Вернуться', region_committees_path

:javascript
  function init_point() {
    init_point_("region_committee");
  }

