- title(RegionCommittee.model_name.human)

%h1= RegionCommittee.model_name.human

.filter
  = form_tag houses_path, :method => :get do
    = hidden_field_tag :page, @page
    %h3 Поиск
    = RegionCommittee.human_attribute_name(:note)
    = text_field_tag "name", params[:name], :size => 10
    -# = RegionCommittee.human_attribute_name(:company_type_id)
    = submit_tag "Найти", :name => :search

%table
  %tr
    %th= RegionCommittee.human_attribute_name(:id)
    %th= RegionCommittee.human_attribute_name(:first_secretary)
    %th= RegionCommittee.human_attribute_name(:city_district)
    %th= RegionCommittee.human_attribute_name(:address)
    %th= RegionCommittee.human_attribute_name(:note)
    %th{:colspan=>"4"}

  - @rcommittees.each do |rcommittee|
    %tr
      %td= rcommittee.id
      %td= rcommittee.first_secretary
      %td= rcommittee.city_district.name
      %td= rcommittee.addresses.first.full_address if rcommittee.addresses.first
      %td= rcommittee.note
      %td= link_to 'Просмотр', region_committee_path(rcommittee)
      %td= link_to 'Изменить', edit_region_committee_path(rcommittee)
      %td= link_to 'Удалить', rcommittee, :confirm => 'Вы уверены?', :method => :delete
      %td= link_to 'ТИК', region_committee_path(rcommittee)

= will_paginate @rcommittees

= link_to 'Добавить', new_region_committee_path

