- title("Просмотр #{RegionCommittee.model_name.human.mb_chars.downcase}")
- javascript_include_yandex_map_api

%h1= "Просмотр #{RegionCommittee.model_name.human.mb_chars.downcase}"

.show
  %ul
    %li
      .label= RegionCommittee.human_attribute_name(:first_secretary)
      = @rcommittee.first_secretary
    %li
      .label= RegionCommittee.human_attribute_name(:note)
      = @rcommittee.note
    %li
      .label= RegionCommittee.human_attribute_name(:address)
      = @rcommittee_address.full_address if @rcommittee_address

      #map_container
        #map

  .buttons
    = link_to 'Вернуться', region_committees_path

- @rcommittee.district.houses.each do |house|
  = house.description
  - house.subscribers.each do |sub|
    %p= sub.person.full_name

:javascript
  function init_point() {
    lat = #{@rcommittee_address.lat if @rcommittee_address};
    lng = #{@rcommittee_address.lng if @rcommittee_address};
    var point = new YMaps.GeoPoint(lat, lng);
    placemark.setOptions({draggable: false});
    placemark.setGeoPoint(point);
    map.setCenter(point, 12);
  }

