- javascript_include_yandex_map_api

= semantic_form_for @house do |f|
  = f.inputs do
    = f.input :number, :input_html => { :class => "form-control" }
    = f.input :description, :required => true, :input_html => { :class => "form-control" }
    = f.input :storeys, :input_html => { :class => "form-control" }
    = f.input :porch_num, :input_html => { :class => "form-control" }
    = f.input :apartments_num, :input_html => { :class => "form-control" }
    = f.input :house_problems, :as => :text, :input_html => { :class => "form-control" }
    = f.input :district_id, :as => :select, :collection => District.all
    = f.input :street_id, :as => :select, :collection => Street.all
    = f.input :electoral_district_id, :as => :select, :collection => ElectoralDistrict.all

    = f.semantic_fields_for :addresses do |a|
      = a.inputs :name => "Адрес дома" do
        = a.input :post_code
        = a.input :region_id, :as => :select, :collection => Region.all
        = a.input :district_id, :as => :select, :collection => District.all
        = a.input :city_id, :as => :select, :collection => City.all
        = a.input :address_line
        = a.input :lat, :as => :hidden
        = a.input :lng, :as => :hidden
        %input{:type => "button", :value => "Найти адрес на карте", :id => "find_address", |
          :data => {"form-name" => "house"} } |

      #map_container
        #map

    

  = f.buttons do
    = f.commit_button "Сохранить", :button_html => { :class => "btn btn-default btn-sm" }
    %li{:class=>"link"}
      или
      = link_to 'Вернуться', houses_path

:javascript
  //ymaps.ready(function () {
    //initialize_map();
    function init_point() {
      init_point_("house");
    }
  //});

