- title(House.model_name.human)

%h1= House.model_name.human

.filter
  = form_tag houses_path, :method => :get do
    = hidden_field_tag :page, @page
    %h3 Поиск
    = House.human_attribute_name(:name)
    = text_field_tag "name", params[:name], :size => 10
    = House.human_attribute_name(:company_type_id)
    = submit_tag "Найти", :name => :search

%table
  %tr
    %th= House.human_attribute_name(:id)
    %th= House.human_attribute_name(:description)
    %th= House.human_attribute_name(:address)
    %th= House.human_attribute_name(:storeys)
    %th= House.human_attribute_name(:porch_num)
    %th{:colspan=>"4"}

  - @houses.each do |house|
    %tr
      %td= house.id
      %td= house.description
      %td= house.addresses.first.full_address if house.addresses.first
      %td= house.storeys
      %td= house.porch_num
      %td= link_to 'Просмотр', house_path(house)
      %td= link_to 'Изменить', edit_house_path(house)
      %td= link_to 'Удалить', house, :confirm => 'Вы уверены?', :method => :delete
      %td= link_to 'Список жильцов', house_path(house)

= will_paginate @houses

= link_to 'Добавить', new_house_path

