- title("Главная")
- javascript_include_yandex_map_api

.section.gray-block
  .container
    .row
      .col-sm-6
        -#.red-text-block
        -#  %h1="Всего подписчиков:"
        -#  %h2= @total_subscribers
        .bordered-text-block
          -#%h1= "Райкомы КПРФ: #{RegionCommittee.count}"
          %h1= "Райкомы КПРФ:"
          - @region_committees.each do |region_committee|
            %h3= "#{region_committee.note}"
            -#%h3= "#{region_committee.addresses.first.full_address if region_committee.addresses.first}"
          %h1= "Избирательные округа:"
          - @electoral_districts.each do |electoral_district|
            %h3= "#{electoral_district.name}"
          %h1= "Избирательные комиссии: "
          - @uics.each do |uic|
            %h3= "#{uic.note}"
      .col-sm-6
        .red-block
          -# %h1= "Всего подписчиков:"
          -# %h2= @total_subscribers
          #map

- @electoral_districts.each do |electoral_district|
  - electoral_district.houses.each do |house|
    :javascript
      function init_point() { }
      $(document).ready(function() {
        ymaps.ready(function () {
          var lat = "#{house.addresses.first.lat if house.addresses.first}";
          console.log('House #{house.number} lat: ' + lat);
          var lng = "#{house.addresses.first.lng if house.addresses.first}";
          console.log('House #{house.number} lng: ' + lng);
          var placemark = new ymaps.Placemark(
             [lng, lat], {
               iconContent: "#{house.subscribers_count}",
               balloonContent: "#{house.description} <br /> Подписчиков: #{house.subscribers_count}"
             }, { draggable: false, hideIconOnBalloonOpen: true }
          );
          map.geoObjects.add(placemark);
        });
      });

.section.info-blocks
  .container
    .row
      .col-sm-4
        .bordered-text-block
          %h1.clearfix
            = link_to "Подписчики", subscribers_path
            %span.total= "#{@region_committees.count}"
          .img-holder
      .col-sm-4
        .bordered-text-block
          %h1.clearfix
            = link_to "Дома", houses_path
            %span.total= "#{@houses.count}"
          .img-holder
      .col-sm-4
        .bordered-text-block
          %h1.clearfix
            = link_to "Жильцы", people_path
            %span.total= "#{@people.count}"
          .img-holder
    .row
      .col-sm-4
        .bordered-text-block
          %h1.clearfix
            = link_to "Райкомы КПРФ", region_committees_path
            %span.total= "#{@region_committees.count}"
          .img-holder
      .col-sm-4
        .bordered-text-block
          %h1.clearfix
            = link_to "Члены КПРФ", members_path
            %span.total= "#{@members.count}"
          .img-holder
      .col-sm-4
        .bordered-text-block
          %h1.clearfix
            = link_to "Избирательные округа", electoral_districts_path
            %span.total= "#{@electoral_districts.count}"
          .img-holder


-#.section
-#  .container
-#    .row
-#      .span12
-#        %b= " "

.section.gray-block
  .container
    .row
      .col-sm-4
        .red-block
          %h1= "Всего подписчиков: #{@total_subscribers}"
      .col-sm-8
        -#%h1= "Избирательные округа:"
        -#%h2= @total_subscribers

