- title("Главная")
- javascript_include_yandex_map_api

.section.gray-block
  .container
    .row
      .col-sm-6
        -#.red-text-block
        -#  %h1="Всего подписчиков:"
        -#  %h2= @total_subscribers
        %h1= "Райкомы КПРФ: #{RegionCommittee.count}"
        %h3= RegionCommittee.count
        %h1= "Избирательные округа:"
        %h3= ElectoralDistrict.count
        %h1= "Избирательные комиссии: "
        %h3= Uic.count
      .col-sm-6
        .red-block
          -# %h1= "Всего подписчиков:"
          -# %h2= @total_subscribers
          #map

- @electoral_districts.each do |electoral_district|
  - electoral_district.houses.each do |house|
    :javascript
      function init_point() { }
      $(document).ready(function() {
        ymaps.ready(function () {
          var lat = "#{house.addresses.first.lat if house.addresses.first}";
          console.log('House #{house.number} lat: ' + lat);
          var lng = "#{house.addresses.first.lng if house.addresses.first}";
          console.log('House #{house.number} lng: ' + lng);
          var placemark = new ymaps.Placemark(
             [lng, lat], {
               iconContent: "#{house.subscribers_count}",
               balloonContent: "#{house.description} <br /> Подписчиков: #{house.subscribers_count}"
             }, {
               draggable: true,
               hideIconOnBalloonOpen: true
             }
          );
          map.geoObjects.add(placemark);
        });
      });


.section
  .container
    .row
      .span12
        %b= " "

.section.gray-block
  .container
    .row
      .col-sm-4
        .red-block
          %h1= "Всего подписчиков: #{@total_subscribers}"
      .col-sm-8
        -#%h1= "Избирательные округа:"
        -#%h2= @total_subscribers

