- title(Tic.model_name.human)

%h1.page-header= Tic.model_name.human

.filter
  = form_tag tics_path, :method => :get do
    = hidden_field_tag :page, @page
    %h3 Поиск
    = Member.human_attribute_name(:name)
    = text_field_tag "name", params[:name], :size => 10
    -# = Member.human_attribute_name(:company_type_id)
    = submit_tag "Найти", :name => :search

%table
  %tr
    %th= Tic.human_attribute_name(:id)
    %th= Tic.human_attribute_name(:name)
    %th= Tic.human_attribute_name(:chief)
    %th= Tic.human_attribute_name(:address)
    %th= Tic.human_attribute_name(:note)
    %th{:colspan=>"3"}

  - @TICs.each do |tic|
    %tr
      %td= tic.id
      %td= tic.name
      %td= tic.chief
      %td= tic.addresses.first.full_address if tic.addresses.first
      %td= tic.note
      %td= link_to 'Просмотр', tic_path(tic)
      %td= link_to 'Изменить', edit_tic_path(tic)
      %td= link_to 'Удалить', tic, :confirm => 'Вы уверены?', :method => :delete

= will_paginate @TICs

= link_to 'Добавить', new_tic_path

