
= semantic_form_for @subscriber do |f|
  = f.inputs do
    = f.label :person_id
    = f.select :person_id, Person.for_select
    = f.label :subscription_date
    = f.text_field :subscription_date, :class => "datepick_im",:size => 9, :required => true
    = f.input :subscription_reason, :as => :text
    = f.input :member, :as => :select, :collection => Member.all
    = f.input :shipping_type, :as => :select, :collection => Subscriber.shipping_type_for_select()
   

  = f.buttons do
    = f.commit_button "Сохранить", :button_html => { :class => "btn btn-default btn-sm" }
    %li{:class=>"link"}
      или
      = link_to 'Вернуться', subscribers_path

:javascript 
  $(document).ready(function() {
      $(".datepick").datepicker('option', 'changeYear', true);
      $.datepicker.regional['ru'] = {
        closeText: 'Закрыть',
        prevText: '&#x3c;Пред',
        nextText: 'След&#x3e;',
        currentText: 'Сегодня',
        monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь',
        'Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
        monthNamesShort: ['Янв','Фев','Мар','Апр','Май','Июн',
        'Июл','Авг','Сен','Окт','Ноя','Дек'],
        dayNames: ['воскресенье','понедельник','вторник','среда','четверг','пятница','суббота'],
        dayNamesShort: ['вск','пнд','втр','срд','чтв','птн','сбт'],
        dayNamesMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
        weekHeader: 'Не',
        dateFormat: 'dd.mm.yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''};
      $.datepicker.setDefaults($.datepicker.regional['ru']);
      $(".datepick_im").datepicker({  
        showOn: 'both',
        buttonImage: "#{image_path("calendar.gif")}", 
        buttonImageOnly: true,
        changeYear: true
      });
  });

