- title("Просмотр #{Subscriber.model_name.human.mb_chars.downcase}")
- javascript_include_yandex_map_api

%h1= "Просмотр #{Subscriber.model_name.human.mb_chars.downcase}"

.show
  %ul
    %li
      .label= Person.human_attribute_name(:full_name)
      = @subscriber.person.full_name
    %li
      .label= Subscriber.human_attribute_name(:subscription_date)
      = @subscriber.subscription_date
    %li
      .label= Subscriber.human_attribute_name(:subscription_reason)
      = @subscriber.subscription_reason
    %li
      .label= Subscriber.human_attribute_name(:shipping_type)
      = @subscriber.shipping_type_for_display
    %li
      -# .label= Company.human_attribute_name(:address)
      -# = @company_address.full_address if @company_address

      #map_container
        #map

  .buttons
    = link_to 'Вернуться', subscribers_path

:javascript
  function init_point() {
    lat = #{@subscriber_address.lat};
    lng = #{@subscriber_address.lng};
    //var point = new YMaps.GeoPoint(lat, lng);
    //placemark.setOptions({draggable: false});
    //placemark.setGeoPoint(point);
    //map.setCenter(point, 12);
    var placemark = new ymaps.Placemark(
        [lng, lat], { draggable: true, hideIconOnBalloonOpen: true }
    );
    map.geoObjects.add(placemark);

  }

