- title("Просмотр #{Subscriber.model_name.human.mb_chars.downcase}")
- javascript_include_yandex_map_api

%h1= "Просмотр #{Subscriber.model_name.human.mb_chars.downcase}"

.show
  %ul
    %li
      .label= Subscriber.human_attribute_name(:name)
      = @subscriber.name
    %li
      .label= Subscriber.human_attribute_name(:company_type_id)
      = @subscriber.company_type.name if @company.company_type
    %li
      .label= Subscriber.human_attribute_name(:full_name)
      = @subscriber.full_name
    %li
      .label= Company.human_attribute_name(:address)
      = @company_address.full_address if @company_address

      #map_container
        #map
    %li
      .label= Subscriber.human_attribute_name(:note)
      = @subscriber.note

  .buttons
    = link_to 'Вернуться', subscribers_path

:javascript
  function init_point() {
    lat = #{@company_address.lat};
    lng = #{@company_address.lng};
    var point = new YMaps.GeoPoint(lat, lng);
    placemark.setOptions({draggable: false});
    placemark.setGeoPoint(point);
    map.setCenter(point, 12);
  }

