- title(EmploymentType.model_name.human)

%h1= EmploymentType.model_name.human

%table
  %tr
    %th= EmploymentType.human_attribute_name(:id)
    %th= EmploymentType.human_attribute_name(:name)
    %th{:colspan=>"2"}

  - @employment_types.each do |employment_type|
    %tr
      %td= employment_type.id
      %td= employment_type.name
      %td= link_to 'Изменить', edit_vocabularies_employment_type_path(employment_type)
      %td= link_to 'Удалить', vocabularies_employment_type_path(employment_type), :confirm => 'Вы уверены?', :method => :delete

= will_paginate @employment_types

= link_to 'Добавить', new_vocabularies_employment_type_path

