- title(Member.model_name.human)

%h1.page-header= Member.model_name.human

.filter
  = form_tag members_path, :method => :get do
    = hidden_field_tag :page, @page
    %h3 Поиск
    = Member.human_attribute_name(:name)
    = text_field_tag "name", params[:name], :size => 10
    -# = Member.human_attribute_name(:company_type_id)
    = submit_tag "Найти", :name => :search

%table
  %tr
    %th= Member.human_attribute_name(:id)
    %th= Member.human_attribute_name(:full_name)
    %th= Member.human_attribute_name(:entry_date)
    %th= Member.human_attribute_name(:membershipcard_number)
    %th= Member.human_attribute_name(:mission)
    %th= Member.human_attribute_name(:region_committee_id)
    %th= Member.human_attribute_name(:address)
    %th{:colspan=>"3"}

  - @members.each do |member|
    %tr
      %td= member.id
      %td= member.full_name
      %td= member.entry_date
      %td= member.membershipcard_number
      %td= member.mission
      %td= member.region_committee.addresses.first.full_address if member.region_committee.addresses.first
      %td= member.addresses.first.full_address if member.addresses.first
      %td= link_to 'Просмотр', member_path(member)
      %td= link_to 'Изменить', edit_member_path(member)
      %td= link_to 'Удалить', member, :confirm => 'Вы уверены?', :method => :delete

= will_paginate @members

= link_to 'Добавить', new_member_path

