- title("Просмотр #{Member.model_name.human.mb_chars.downcase}")
- javascript_include_yandex_map_api

%h1= "Просмотр #{Member.model_name.human.mb_chars.downcase}"

.show
  %ul
    %li
      .label= Member.human_attribute_name(:full_name)
      = @member.full_name
      .label= Member.human_attribute_name(:address)
      = @member_address.full_address if @member_address

      #map_container
        #map
    %li
      .label= Member.human_attribute_name(:note)
      = @member.note

  .buttons
    = link_to 'Вернуться', members_path

:javascript
  function init_point() {
    lat = #{@member_address.lat if @member_address};
    lng = #{@member_address.lng if @member_address};
    var point = new YMaps.GeoPoint(lat, lng);
    placemark.setOptions({draggable: false});
    placemark.setGeoPoint(point);
    //placemark.name = "#{@member}";
    map.setCenter(point, 12);
  }

